* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: black;
}

#root {
  width: 380px;
  background-color: #eee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

#loading {
  width: 380px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

#home {
  padding: 15px;
  .logo {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    img {
      width: 120px;
      height: 65px;
      border-radius: 10px;
    }
  }

  .search {
    position: relative;
    .searchicon {
      font-size: 16px;
    }
    i {
      position: absolute;
      left: 30px;
      top: 15px;
    }
    .searchinput {
      width: 320px;
      margin-left: 10px;
      height: 45px;
      border: none;
      border-radius: 10px;
      padding-right: 100px;
    }
  }

  ul {
    padding: 10px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    .li {
      margin-left: 30px;
      margin-bottom: 10px;

      &:hover {
        color: orange;
      }
    }

    .lu:hover {
      color: orange;
    }
  }
}

#lavash {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}
#burger {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#kombo {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#pizza {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}
#sendvich {
  .flexfor {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;

    img {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
    }

    p {
      height: 50px;
      font-style: 18px;
      margin-top: 10px;
    }

    h6 {
      color: orange;
    }

    button {
      // margin-left: 40px;
      width: 60px;
      height: 30px;
      border: none;
      border-radius: 10px;
      background-color: grey;
      color: white;
    }

    .plus {
      background-color: green;
      margin-left: 20px;
    }
  }
}

#footer {
  width: 380px;
  // height: 90px;
  position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 15px;

  .uzs {
    color: orange;
    font-size: 25px;
  }
  .all {
    color: silver;
    font-size: 16px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
    color: orange;
    font-size: 20px;
  }
  button {
    position: relative;
    left: 100px;
    top: 20px;
    right: 0;
    width: 130px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transform: scale(1.2);
    color: white;
  }
}
