* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: black;
}

#root {
  width: 385px;
  background-color: white;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1350px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

#loading {
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}

#home {
  padding: 15px;
  .logo {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    img {
      width: 120px;
      height: 65px;
      border-radius: 10px;
    }
  }

  .search {
    .searchinput {
      width: 300px;
      margin-left: 10px;
      height: 45px;
      // border: none;
      border-radius: 10px;
    }
  }
}
